
<ion-content>
  <div class="container">
    <aside class="sidebar">
        <div class="profile">
            <img src="Profile.png" class="logo">
            <h2>PROFILE</h2>
        </div>
        <nav class="nav">
            <ul>
               
                <li><a href="#">Change Password</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
        <footer class="footer">
            <p>&copy; Copyright Student Attendance System</p>
        </footer>
    </aside>
