<ion-content>
    <body>
      <div class="container">
        <form (submit)="onSubmit($event)">
          <h1>QR Code Generator</h1>
          <div class="form-group">
            <label for="studentName">Student Name</label>
            <input type="text" id="studentName" name="studentName" placeholder="Enter your name" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="course">Course</label>
            <input type="text" id="course" name="course" placeholder="Enter your course"  required autocomplete="off">
          </div>
          <button type="submit">Generate QR Code</button>
        </form>
      </div>
  </body>
      <div id="qrPopup" class="qr-popup" style="display: none;">
        <div class="qr-popup-content">
          <span id="popupTextAbove">QR of the day</span>
          <div id="qrcode"></div>
          <span id="popupTextBelow">Scan to get class details</span>
          <button (click)="closePopup()">Close</button>
        </div>
      </div>
    </ion-content>
    
  