<ion-content>
  <div class="animation">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
    <div class="container">
        <div class="form-container">
            <div class="form-toggle">
                <button id="login-toggle" onclick="showLogin()">Log In</button>
                <button id="signup-toggle" onclick="showSignUp()">Sign Up</button>
            </div>
        </div>
    </div>
  </div>
</ion-content>

