<ion-header>
    <ion-toolbar>
      <ion-title>AKIO - Attendance Keeper and Integration Operator</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="lawas">
    <header>
        <h1 style="margin-left: 10px;">Zamboanga Del Sur Provincial Goverment College - Aurora Main Campus</h1>
    </header>
    <nav>
        <ul>
            <li><a routerLink="tabs"> Dashboard</a></li>
        </ul>
    </nav>
    
    <footer>
        <p>&copy; 2024 Student Attendance System. All rights reserved.</p>
    </footer>
</ion-content>
