
    <title> Student Attendance System</title>
    

<ion-content class="lawas">
    <header>
        <img class id="logo" src="../../assets/icon/zdspgc_logo-removebg-preview.png" />
        <h1 style="margin-left: 10px;">Zamboanga Del Sur Provincial Goverment College - Aurora Main Campus</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#"> My Profile</a></li>
            <li><a href="#">Attendance Record</a></li>  
            <li><a href="#">Log Out</a></li>

        </ul>
    </nav>
    
    <footer>
        <p>&copy; 2024 Student Attendance System. All rights reserved.</p>
    </footer>
</ion-content>
